<IfModule mod_rewrite.c>
    Options +SymLinksIfOwnerMatch
    RewriteEngine On

    # Redirect all requests to public folder if not already
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # Allow Installatron requests
    RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
    RewriteRule (.*) - [L]
</IfModule>
